body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: white;
  margin: 0;
  padding: 25px 0;
}

.main-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  display: flex;
  text-align: center;
  background-image: url('../assets/background.png');
}

.main-title_container--inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10px;
}

.container {
  margin-top: 15px;
}

.container--title_rank {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}

.navbar {
  width: 100%;
}

.main-title img {
  height: 70px;
}

.table {
  width: 100%;
}

.main {
  border-radius: 10px;
  padding: 20px;
}

.page-link {
  color: black !important;
}

/* COR DAS COLUNAS */

/* PONTUAÇÂO */

.onze {
  background-color: rgb(111, 15, 190);
  color: white;
  font-weight: bold;
  text-align: center;
}

.dez {
  background-color: rgb(40,232,46);
  font-weight: bold;
  text-align: center;
}

.nove {
  background-color: rgb(108,232,45);
  font-weight: bold;
  text-align: center;
}

.oito {
  background-color: rgb(186,242,34);
  font-weight: bold;
  text-align: center;
}

.sete {
  background-color: rgb(242,252,31);
  font-weight: bold;
  text-align: center;
}

.seis {
  background-color: rgb(240,236,28);
  font-weight: bold;
  text-align: center;
}

.cinco {
  background-color: rgb(243,204,22);
  font-weight: bold;
  text-align: center;
}

.quatro {
  background-color: rgb(243,150,4);
  font-weight: bold;
  text-align: center;
}

.tres {
  background-color: rgb(240,104,0);
  font-weight: bold;
  text-align: center;
}

.dois {
  background-color: rgb(239,73,0);
  font-weight: bold;
  text-align: center;
}

.um {
  background-color: rgb(241,58,0);
  font-weight: bold;
  text-align: center;
}

/* DIFICULDADE */

.a {
  background-color: rgb(241,58,0);
  font-weight: bold;
  text-align: center;
}

.b {
  background-color: rgb(240,104,0);
  font-weight: bold;
  text-align: center;
}

.c {
  background-color: rgb(243,204,22);
  font-weight: bold;
  text-align: center;
}

.d {
  background-color: rgb(186,242,34);
  font-weight: bold;
  text-align: center;
}

.e {
  background-color: rgb(40,232,46);
  font-weight: bold;
  text-align: center;
}