body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: white;
  margin: 0;
  padding: 25px 0;
}

.main-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  display: flex;
  text-align: center;
  background-image: url('../assets/background.png');
}

.main-title_container--inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-title img {
  height: 70px;
}

.table {
  width: 100%;
}

.main {
  border-radius: 10px;
  padding: 20px;
}

.page-link {
  color: black !important;
}